/.vs
/Output
/builds

*.log
*tmp.png

*.tlog
*.vcxproj
*.vcxproj.user
*.csproj
*.sln
**/obj/x64/**
*.filters
**/.vs/
**/Temp/

*Makefile

integrations/unity-csharp/Library/
integrations/unity-csharp/Packages/
integrations/unity-csharp/obj/
**/vaultSDK.dll
**/vaultSDK.lib
