.btn {
  font-family: "source-sans-pro";
  animation: fadeIn ease 2s;
  background-color: rgba(10, 14, 16, 0.9);
  width: 200px;
  height: 36px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  position: relative;
  text-align: left;
  color: white;
  border: none;
  display: block;
  font-size: 16px;
}

.chosen {
  outline: none;
  font-weight: 700;
  color: #c1e4e4;
}

.btn:hover {
  transition: transform .25s;
  transform: scale(1.1);
}

/* Button position */
.btn.gbr {
  top: -125px; 
  left: calc(10% + 15px); 
}

.btn.asmd {
  top: -125px;
  left: calc(10% + 15px);
}