/* Import font "source sans pro" */
@import url("https://use.typekit.net/jzk0nzy.css");


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Font family */
h1, h2, h3, h4, h5, h6, p {
  font-family: "source-sans-pro";
  letter-spacing: 1.8px;
}

h1 {
  text-align: center;
  font-size: 42px;
}

.head-container {
  width: 80%;
  margin-left: 10%;
}

.title {
  margin-top: -15px;
  margin-bottom: -25px; 
  padding-bottom: 0;
  letter-spacing: 1.8px;
  display: flex;
}

.title img {
  margin-top: 20px;
  width: 150px;
  vertical-align: middle;
}

.title h1 {
  margin-top: 50px;
  width: calc(80%);
}

body {
  background-color: rgb(10, 14, 16);
  color: white;
}

#navBtn {
  height: 0px;
}

#left {
  margin: auto;
  width: 80%;
  height: 80%;
  border-radius: 5px;
}

#viewDiv {
  width: 100%;
  height: 600px;
}

#loginBox {
  animation: fadeIn ease 2s;
  font-family: "source-sans-pro";
  position: absolute;
  top: 40%;
  left: calc(50% - 140px);
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: none;
}

#loginBox h2 {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

#container {
  margin: auto;
  width: 100%;
}

.descTextbox {
  width: 80%;
  padding-top: 50px;
  margin: auto;
  text-align: left;
}

.descTitle {
  text-align: left;
  font-size: 30px;
  letter-spacing: 1.8px;
}

.descAttr, .descTextAttr {
  color: #c1e4e4;
  font-style: italic;
  font-weight: lighter;
  letter-spacing: 1.8px;
}

.descTextAttr {
  padding-bottom: 100px;
}

.descTextAttr a {
  color: #8dc4c4;
  text-decoration: none;
}

.descModelInfo {
  color: #c1e4e4;
  font-weight: lighter;
}

.textImg {
  width: 100%;
  max-width: inherit;
}

.textImg #introImg img {
  margin-top: 50px;
  text-align: left;
  width: 60%;
  border-radius: 5px;
  pointer-events: none;
}

.descParagraph {
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.8;
}

.descParagraph a {
  color: #c1e4e4;
  text-decoration: none;
}

.unsupportMsg {
  color: #c1e4e4;
  letter-spacing: 1.8px;
  line-height: 1.5;
  padding-left: 50px;
  padding-right: 50px;
  display: none;
}

.unsupportMsg h1 {
  font-size: 24px;
  margin-bottom: 40px;
  font-weight: 300;
}

.unsupportMsg h2 {
  font-size: 16px;
  margin-bottom: 60px;
  font-weight: 300;
}

.unsupportMsg a {
  font-family: "source-sans-pro";
  color: #c1e4e4;
  padding: 20px 40px 20px 40px;
  border: 1px solid #c1e4e4;
  border-radius: 3px;
  text-decoration: none;
}

.unsupportMsg a:hover {
  color: #ffffff;
  border: 1px solid #4b6969;
  background-color: #4b6969;
}

.statusBox {
  font-family: "source-sans-pro";
  position: absolute;
  top: calc(80% - 100px);
  left: calc(85% - 100px);
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  margin-top: 25px;
  max-width: 90%;
  width: 200px;
  font-size: x-large;
  text-align: center;
  color: white;
  z-index: 5;
}

.loader {
  margin: auto;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.options {
  padding: 5px;
  background-color: #151515;
  width: 200px;
  letter-spacing: 1.8;
  font-size: 110%;
  display: none;
}

.options input {
  vertical-align: top;
}

/* Scaled up checkboxes for better user experience */
input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.25); /* IE */
  -moz-transform: scale(1.25); /* FF */
  -webkit-transform: scale(1.25); /* Safari and Chrome */
  -o-transform: scale(1.25); /* Opera */
  transform: scale(1.25);
  /* padding: 10px; */
}

@media only screen and (max-width: 1024px) {
  /* For mobile devices: */
  
}